In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\parna\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\parna\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\parna\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\parna\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\parna\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\parna\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

df = pd.read_csv("sales.csv")
print(df.head())

    Product  Price  Quantity
0       Pen     10         5
1  Notebook     40         2
2    Pencil      5        10
3    Eraser      8         3
4       Pen     10         7

In [4]:
print("Rows & Columns:", df.shape)
print("\nData Types:\n", df.dtypes)
print("\nSummary Info:")
print(df.info())

Rows & Columns: (5, 3)

Data Types:
 Product     object
Price        int64
Quantity     int64
dtype: object

Summary Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Product   5 non-null      object
 1   Price     5 non-null      int64
 2   Quantity  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes
None

In [5]:
print(df.isnull().sum())

Product     0
Price       0
Quantity    0
dtype: int64

In [6]:
df = df.fillna(0)

In [7]:
df = df.dropna()

In [8]:
print("Average Price:", df['Price'].mean())
print("Highest Quantity:", df['Quantity'].max())
print("Lowest Quantity:", df['Quantity'].min())

Average Price: 14.6
Highest Quantity: 10
Lowest Quantity: 2

In [9]:
df['Total'] = df['Price'] * df['Quantity']

In [10]:
print("Total Sales =", df['Total'].sum())

Total Sales = 274

In [11]:
best = df.groupby('Product')['Quantity'].sum().idxmax()
print("Best Selling Product:", best)

Best Selling Product: Pen

In [12]:
print("\n----- SALES REPORT -----")
print("Total Sales:", df['Total'].sum())
print("Best Selling Product:", best)
print("\nSales by Product:")
print(df.groupby('Product')['Total'].sum())

----- SALES REPORT -----
Total Sales: 274
Best Selling Product: Pen

Sales by Product:
Product
Eraser       24
Notebook     80
Pen         120
Pencil       50
Name: Total, dtype: int64